@model ConsoleAppProject.App02.BMI
@(
   ViewData["Title"] = "BMI";
)


<header class="jumbotron">
        <h1>BMI Calculator</h1>
        <h2>By Hassan Nisar</h2>
    <p>
        This app will use your body weight and height
        to calculate a BMI index. 
    </p>
</header>
<section>
    <form method="post">

        <h2>Height</h2>
        <p>
            Please enter your current height in whole numbers
            using metric or imperial units
        </p>
        <p>
            <input type="number" placeholders="Feet" 
                   asp-for="@Model.Feet" />
            
            <input type="number" placeholders="Inches"
                   value="0" asp-for="@Model.Inches" />
        </p>
        <p>
            <input type="number" placeholders="Centimeters"
                   asp-for="@Model.Centimeters" />
        </p>

        <h2>Weight</h2>
        <p>
            Please enter your current weight in whole numbers
            using metric or imperial units
        </p>
        <p>
            <input type="number" placeholders="Stones"
                   value="11" asp-for=@Model.Stones />
            
            <input type="number" placeholders="Pounds"
                   value="5" asp-for=@Model.Pounds />
        </p>
        <p>
            <input type="number" placeholders="Kilogarms"
                   asp-for=@Model.Kilograms /> />
        </p>
        <p>
            <button class="btn btn-success" type="submit">Calculate</button>
        </p>

    </form>
</section>
        
