@using ConsoleAppProject.App02
@{
    ViewData["Title"] = "HealthMessage";
}

@(
    //BMI bmi = new BMI();
)

<header class="jumbotron">
        <h1>BMI health message</h1>
        <h2>By Hassan Nisar</h2>
</header>
<section>
    <h2>BAME MESSAGE</h2>
    <p class="text-lead">
       
    </p>
</section>

